/docs
/gpt4_token_counter/__pycache__
/gpt4_token_counter/static/icon16.jpeg
/gpt4_token_counter/static/icon32.jpeg
/gpt4_token_counter/static/icon48.jpeg
/gpt4_token_counter/static/icon128.jpeg
/resources
/venvtcount